<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">
    <display-name>h2h_milestone_3</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ReadInvoiceServlet</servlet-name>
        <servlet-class>com.highradius.servlets.ReadInvoiceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddInvoiceServlet</servlet-name>
        <servlet-class>com.highradius.servlets.AddInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.highradius.servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.highradius.servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAllUsersServlet</servlet-name>
        <servlet-class>com.highradius.servlets.FetchAllUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadInvoiceServlet</servlet-name>
        <url-pattern>/read-invoice</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddInvoiceServlet</servlet-name>
        <url-pattern>/add-invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/update-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAllUsersServlet</servlet-name>
        <url-pattern>/fetch-all-users</url-pattern>
    </servlet-mapping>
</web-app>